header.navigation-section
  .slider
    svg.feather.feather-menu(xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      line(x1='3' y1='12' x2='21' y2='12')
      line(x1='3' y1='6' x2='21' y2='6')
      line(x1='3' y1='18' x2='21' y2='18')
  .brand-logo
    a(href='/')
      img(src='./images/logo/logo.png' alt='' style='max-width: 100%; max-height: 100%;')
  .search-section
    .additional-section
    input#search-input(type='text' name='')
    button.search-click-button
      svg.feather.feather-search(xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        circle(cx='11' cy='11' r='8')
        line(x1='21' y1='21' x2='16.65' y2='16.65')
  .cart-price-shoppingContainer
    .selected-item-cart
      a(href='#')
        svg.feather.feather-shopping-cart(xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          circle(cx='9' cy='21' r='1')
          circle(cx='20' cy='21' r='1')
          path(d='M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6')
    .display-cart-price
      h3.display-selcted-price NRS: 1200
    .buy-all-button-div
      button.buy-all-button BUY ALL CART ITEM
  .user-profile-display
    a(href='/signup')
      svg.feather.feather-user-x(xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        path(d='M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2')
        circle(cx='8.5' cy='7' r='4')
        line(x1='18' y1='8' x2='23' y2='13')
        line(x1='23' y1='8' x2='18' y2='13')