<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinity Store | Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="owlcarousel/owl.carousel.min.css">
    <link href="owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../public/style/style.css">
</head>

<body>
    <header class="navigation-section">
        <!-- IT WILL BE UNCOMMENT WHEN SCREEN RESOLUTION WILL BE ACCURATE TO MOBILE -->
        <div class="slider">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-menu">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </div>

        <!-- THIS LOGO WILL BE RENDERED AT THE DESKTOP VIEW -->
        <div class="brand-logo">
            <a href="/"><img src="../../public/images/logo/logo.png" alt=""
                    style="max-width: 100%; max-height: 100%;"></a>
        </div>

        <div class="search-section">
            <div class="additional-section">

            </div>
            <input type="text" name="" id="search-input">
            <button class="search-click-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-search">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
            </button>
        </div>


        <div class="cart-price-shoppingContainer">
            <div class="selected-item-cart">
                <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-shopping-cart">
                        <circle cx="9" cy="21" r="1"></circle>
                        <circle cx="20" cy="21" r="1"></circle>
                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                    </svg>
                </a>
            </div>

            <div class="display-cart-price">
                <h3 class="display-selcted-price">NRS: 1200</h3>
            </div>

            <div class="buy-all-button-div">
                <button class="buy-all-button">BUY ALL CART ITEM</button>
            </div>
        </div>

        <div class="user-profile-display">
            <a href="/signup"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-user-x">
                    <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                    <circle cx="8.5" cy="7" r="4"></circle>
                    <line x1="18" y1="8" x2="23" y2="13"></line>
                    <line x1="23" y1="8" x2="18" y2="13"></line>
                </svg>
            </a>
        </div>
    </header>

    <!-- body section -->

    <section class="hot-deal-section">
        <p class="highlight-heading">Hot Deals</p>

        <div class="product-deals-container">
            <div class="product-container">
                <div class="image-div">
                    <img src="../../public/images/cropped-apple-watch.jpg" alt="apple headphone"
                        style="max-height:100%; max-width:100%;">
                </div>
                <div class="image-information">
                    <div class="first-check-info">
                        <p class="name">Apple Watch</p>
                        <div class="price-tag">
                            <p class="discount-price">$750</p>
                            <p class="price">$550</p>
                        </div>
                    </div>
                    <p class="product-description">The speakers inside the EarPods have been engineered to maximize
                        sound output and minimize
                        sound loss,
                    </p>
                </div>
            </div>

            <div class="product-container">
                <div class="image-div">
                    <img src="../../public/images/cropped-apple-watch.jpg" alt="apple headphone"
                        style="max-height:100%; max-width:100%;">
                </div>
                <div class="image-information">
                    <div class="first-check-info">
                        <p class="name">Apple Watch</p>
                        <div class="price-tag">
                            <p class="discount-price">$750</p>
                            <p class="price">$550</p>
                        </div>
                    </div>
                    <p class="product-description">The speakers inside the EarPods have been engineered to maximize
                        sound output and minimize
                        sound loss,
                    </p>
                </div>
            </div>

            <div class="product-container">
                <div class="image-div">
                    <img src="../../public/images/cropped-apple-watch.jpg" alt="apple headphone"
                        style="max-height:100%; max-width:100%;">
                </div>
                <div class="image-information">
                    <div class="first-check-info">
                        <p class="name">Apple Watch</p>
                        <div class="price-tag">
                            <p class="discount-price">$750</p>
                            <p class="price">$550</p>
                        </div>
                    </div>
                    <p class="product-description">The speakers inside the EarPods have been engineered to maximize
                        sound output and minimize
                        sound loss,
                    </p>
                </div>
            </div>

            <div class="product-container">
                <div class="image-div">
                    <img src="../../public/images/cropped-apple-watch.jpg" alt="apple headphone"
                        style="max-height:100%; max-width:100%;">
                </div>
                <div class="image-information">
                    <div class="first-check-info">
                        <p class="name">Apple Watch</p>
                        <div class="price-tag">
                            <p class="discount-price">$750</p>
                            <p class="price">$550</p>
                        </div>
                    </div>
                    <p class="product-description">The speakers inside the EarPods have been engineered to maximize
                        sound output and minimize
                        sound loss,
                    </p>
                </div>
            </div>

            <div class="product-container">
                <div class="image-div">
                    <img src="../../public/images/cropped-apple-watch.jpg" alt="apple headphone"
                        style="max-height:100%; max-width:100%;">
                </div>
                <div class="image-information">
                    <div class="first-check-info">
                        <p class="name">Apple Watch</p>
                        <div class="price-tag">
                            <p class="discount-price">$750</p>
                            <p class="price">$550</p>
                        </div>
                    </div>
                    <p class="product-description">The new AirPods combine intelligent design with breakthrough
                        technology and crystal clear sound. Powered by the new Apple H1 headphone chip</p>
                </div>
            </div>
        </div>
    </section>

    <!-- RECENTLY ADDED -->
    <section class="recently-added-container">
        <p class="highlight-heading">Recently Added</p>
        <div class="reacently-added-section">
            <div class="product-deals-container">
                <div class="product-container">
                    <div class="image-div">
                        <img src="../../public/images/apple-headphone.jpg" alt="apple headphone"
                            style="max-height:100%; max-width:100%;">
                    </div>
                    <div class="image-information">
                        <div class="first-check-info">
                            <p class="name">Apple EarPods</p>
                            <div class="price-tag">
                                <p class="discount-price">$750</p>
                                <p class="price">$550</p>
                            </div>
                        </div>
                        <p class="product-description">The speakers inside the EarPods have been engineered to maximize
                            sound output and minimize
                            sound loss,
                        </p>
                    </div>
                </div>

                <div class="product-container">
                    <div class="image-div">
                        <img src="../../public/images/apple-headphone.jpg" alt="apple headphone"
                            style="max-height:100%; max-width:100%;">
                    </div>
                    <div class="image-information">
                        <div class="first-check-info">
                            <p class="name">Apple EarPods</p>
                            <div class="price-tag">
                                <p class="discount-price">$750</p>
                                <p class="price">$550</p>
                            </div>
                        </div>
                        <p class="product-description">The speakers inside the EarPods have been engineered to maximize
                            sound output and minimize
                            sound loss,
                        </p>
                    </div>
                </div>

                <div class="product-container">
                    <div class="image-div">
                        <img src="../../public/images/apple-headphone.jpg" alt="apple headphone"
                            style="max-height:100%; max-width:100%;">
                    </div>
                    <div class="image-information">
                        <div class="first-check-info">
                            <p class="name">Apple EarPods</p>
                            <div class="price-tag">
                                <p class="discount-price">$750</p>
                                <p class="price">$550</p>
                            </div>
                        </div>
                        <p class="product-description">The speakers inside the EarPods have been engineered to maximize
                            sound output and minimize
                            sound loss,
                        </p>
                    </div>
                </div>

                <div class="product-container">
                    <div class="image-div">
                        <img src="../../public/images/apple-headphone.jpg" alt="apple headphone"
                            style="max-height:100%; max-width:100%;">
                    </div>
                    <div class="image-information">
                        <div class="first-check-info">
                            <p class="name">Apple EarPods</p>
                            <div class="price-tag">
                                <p class="discount-price">$750</p>
                                <p class="price">$550</p>
                            </div>
                        </div>
                        <p class="product-description">The speakers inside the EarPods have been engineered to maximize
                            sound output and minimize
                            sound loss,
                        </p>
                    </div>
                </div>

                <div class="product-container">
                    <div class="image-div">
                        <img src="../../public/images/apple-headphone.jpg" alt="apple headphone"
                            style="max-height:100%; max-width:100%;">
                    </div>
                    <div class="image-information">
                        <div class="first-check-info">
                            <p class="name">Apple EarPods</p>
                            <div class="price-tag">
                                <p class="discount-price">$750</p>
                                <p class="price">$550</p>
                            </div>
                        </div>
                        <p class="product-description">The new AirPods combine intelligent design with breakthrough
                            technology and crystal clear sound. Powered by the new Apple H1 headphone chip</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- LATEST TREND -->
    <section class="market-trend-container">
        <p class="highlight-heading">Latest In The Market</p>
        <div class="trend-one-image-slider">
            <div class="image-container">
                <div class="this-will-be-removed-after-video">
                    <p class="highlight-heading" style="background-color: transparent;">VIDEO WILL BE UPLOADED HERE</p> 
                    <p class="highlight-heading" style="background-color: transparent;"> &nbsp SLIDER WILL BE UPLOADED HERE</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ELECTRONICS SECTION -->
    <section class="electronics-section">
        <p class="highlight-heading">ELECTRONICS</p>

        <div class="product-deals-container">
            <div class="product-container">
                <div class="image-div">
                    <img src="../../public/images/fridge.jpg" alt="apple headphone"
                        style="max-height:100%; max-width:100%;">
                </div>
                <div class="image-information">
                    <div class="first-check-info">
                        <p class="name">Fridge</p>
                        <div class="price-tag">
                            <p class="discount-price">$750</p>
                            <p class="price">$550</p>
                        </div>
                    </div>
                    <p class="product-description">The speakers inside the EarPods have been engineered to maximize
                        sound output and minimize
                        sound loss,
                    </p>
                </div>
            </div>

            <div class="product-container">
                <div class="image-div">
                    <img src="../../public/images/fridge.jpg" alt="apple headphone"
                        style="max-height:100%; max-width:100%;">
                </div>
                <div class="image-information">
                    <div class="first-check-info">
                        <p class="name">Fridge</p>
                        <div class="price-tag">
                            <p class="discount-price">$750</p>
                            <p class="price">$550</p>
                        </div>
                    </div>
                    <p class="product-description">The speakers inside the EarPods have been engineered to maximize
                        sound output and minimize
                        sound loss,
                    </p>
                </div>
            </div>

            <div class="product-container">
                <div class="image-div">
                    <img src="../../public/images/fridge.jpg" alt="apple headphone"
                        style="max-height:100%; max-width:100%;">
                </div>
                <div class="image-information">
                    <div class="first-check-info">
                        <p class="name">Fridge</p>
                        <div class="price-tag">
                            <p class="discount-price">$750</p>
                            <p class="price">$550</p>
                        </div>
                    </div>
                    <p class="product-description">The speakers inside the EarPods have been engineered to maximize
                        sound output and minimize
                        sound loss,
                    </p>
                </div>
            </div>

            <div class="product-container">
                <div class="image-div">
                    <img src="../../public/images/fridge.jpg" alt="apple headphone"
                        style="max-height:100%; max-width:100%;">
                </div>
                <div class="image-information">
                    <div class="first-check-info">
                        <p class="name">Fridge</p>
                        <div class="price-tag">
                            <p class="discount-price">$750</p>
                            <p class="price">$550</p>
                        </div>
                    </div>
                    <p class="product-description">The speakers inside the EarPods have been engineered to maximize
                        sound output and minimize
                        sound loss,
                    </p>
                </div>
            </div>

            <div class="product-container">
                <div class="image-div">
                    <img src="../../public/images/fridge.jpg" alt="apple headphone"
                        style="max-height:100%; max-width:100%;">
                </div>
                <div class="image-information">
                    <div class="first-check-info">
                        <p class="name">Fridge</p>
                        <div class="price-tag">
                            <p class="discount-price">$750</p>
                            <p class="price">$550</p>
                        </div>
                    </div>
                    <p class="product-description">The new AirPods combine intelligent design with breakthrough
                        technology and crystal clear sound. Powered by the new Apple H1 headphone chip</p>
                </div>
            </div>
        </div>
    </section>

    <header class="navigation-section">
        <div class="search-section">
            <div class="additional-section">

            </div>
            <input type="text" name="" id="search-input">
            <button class="search-click-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-search">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
            </button>
        </div>
    </header>

    <footer class="footer-color"></footer>
    <script src="../../public/js/index.js"></script>
</body>

</html>